.competition-image {
    background-size: cover;
    position: relative;
    margin: -15px;
    z-index: 1;
    border: 2px;
}

@keyframes disappearAnimation {
    0%{
        opacity: 1;
        transform: rotateX(90deg);
      }
      50%{
        opacity: 0.5;
        transform: rotateX(0deg);
      }
      100%{
        display: none;
        opacity: 0;
        transform: rotateX(90deg);
      }
    }


.disappear {
    animation: disappearAnimation;
    animation-duration: 2000ms;
    animation-fill-mode: forwards;
}

.focused {
    transition: transform .2s;
    transform: scale(1.5);
}

.vs {
    position: relative;
    z-index: 2;
}